@media (min-width: 768px) {
    .copy {
        font-size: 0.8em;
        position: absolute;
        right: 0;
        top: 20px;
        padding: 10px 0;
    }

    /* .card-item {
        width: 20rem;
    } */
}

@media (max-width: 767px) {
    nav {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }

    .header {
        width: 95%;
    }

    .logo {
        justify-content: center;
        margin: 12px 0;
    }

    nav ul {
        justify-content: center;
        height: 30px;
    }

    nav ul li {
        padding: 0 15px;
    }

    .search {
        justify-content: center;
        width: 98vw;
    }

    .search input {
        margin: 10px 15px;
        width: 100%;
    }

    .slider {
        height: 25vh;
    }

    /* .cards {
        overflow-x: auto;
    } */

    .card-item {
        width: 35vw;
    }

    .card-item img {
        /* width: 30vw; */
        height: auto;
    }

    .footer-left,
    .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 85%;
        font-size: 0.9em;
    }

    .copy {
        font-size: 0.8em;
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        text-align: end;
    }

    .social-icons a img {
        width: 0.9em;
        height: 0.9em;
    }
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        margin: 12px 0;
    }

    nav ul {
        height: 30px;
        display: none;
    }

    nav ul li a {
        color: white;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    .search {
        justify-content: center;
        width: 95vw;
    }

    .search input {
        margin: 10px 15px 10px 5px;
    }

    .btn {
        margin-right: 5px;
    }

    .menu {
        display: block;
        margin-right: 7px;
        color: white;
        font-size: 2em;
    }

    .slider {
        max-width: 95vw;
    }

    .card {
        max-width: 95vw;
    }

    .card-item {
        width: 40vw;
    }

    .card h2 {
        font-size: 1.2em;
        margin-left: 1.6vh;
    }

    .my-1 {
        font-size: 0.95em;
    }

    .my-2 {
        font-size: 1em;
    }

    .social-icons a img {
        width: 0.8em;
        height: 0.8em;
    }

    .flex-all-center {
        font-size: 0.825em;
    }

    .copy {
        font-size: 0.725em;
    }
}
